



html {
    /* If we add any paddig or border onto an element it does not affect the width of the element */
    box-sizing: border-box;
}

body {
    margin:0;
    padding: 0;
    font-family: 'Ubuntu', sans-serif;
    font-weight: 300;
    background-color: #0F3D3E;
    color: #fff;
}

.hero {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.heroImage {
    padding: 2rem;
}

.heroImage img {
    border-radius: 50%;
    box-shadow: 10px 10px #000; 
    width: 100%;
    height: auto;
}

.heroText {
    font-size: 0.7rem;
    padding-bottom: 2rem;
    text-align: center;
    letter-spacing: 2px;
}

.heroName {
    color: #FFB037;
    font-size: 2.5rem;
    text-transform: uppercase;
}

.heroTexTop {
    padding: 1rem;
}

.heroTextBottom {
    padding: 1rem;
}

.heroButton {
    margin: 2rem;
    display: flex;
    flex-direction: row;
    
}

.aboutMeButton {
    background-color: #FFE268;
    padding: 1rem;
    border: 1px solid #FFB037;
    border-radius: 25px 0px 0px 25px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #100F0F;
    text-decoration: none;
    box-shadow: 10px 10px #000; 
    margin: 0rem;
}

.blogsButton {
    background-color: #FFE268;
    padding: 1rem;
    border: 1px solid #FFB037;
    border-radius: 0px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #100F0F;
    text-decoration: none;
    box-shadow: 10px 10px #000; 
    margin: 0rem;
}

.projectButton {
    background-color: #FFE268;
    padding: 1rem;
    border: 2px solid #FFB037;
    border-radius: 0px 25px 25px 0px;
    font-size: 0.9rem;
    font-weight: 700;
    color: #100F0F;
    text-decoration: none;
    box-shadow: 10px 10px #000;
    margin: 0rem;
}

.aboutMeButton:hover {
    background-color: #FFB037;
    color: #ffe5bd;
}

.blogsButton:hover {
    background-color: #FFB037;
    color: #ffe5bd;
}

.projectButton:hover {
    background-color: #FFB037;
    color: #ffe5bd;
}

.projectsHeader {
    margin: 1.5rem 3rem;
    text-align: center;
    padding: 0.5rem;
    letter-spacing: 1.5px;
    font-family: 'Ubuntu', sans-serif;
}

.projectCard {
    background-color: #f5ec89;
    color: #a66c14;
    margin: 4rem 3rem;
    padding: 0.5rem 2rem;
    text-align: center;
    border: 1px solid #8c5c12;
    border-radius: 15%;
    box-shadow: 10px 10px #000;
    font-family: 'Ubuntu', sans-serif;
}
.projectCard a {
    text-decoration: none;
    color: #8c5c12; 
}

.projectCard iframe {
    width: 100%;
    height: 25rem;
    border-radius: 0.5rem;
    margin: 1rem 0;
    border:3px solid #8c5c12;
}

.projectCard h2 {
    margin: 0.5rem 1rem 1.5rem 1rem;
    font-weight: 600;
}    
    
.projectCard p {
    font-size: 1rem;
    font-weight: 400;
}

.fa-github {
    font-size: 2.2rem;
    padding: 1.5rem;
}

.fa-file {
    font-size: 2.2rem;
    padding: 1.5rem;
}

.projectIcons {
    display: flex;
    justify-content: space-evenly;
    font-size: 1.2rem;
    margin-top: 2rem;
}

.projectIcons p {
    margin: 0 0 1rem 0;
    font-size: 0.8rem;
}

footer {
    text-align: center;
    Color: #FFB037;
    margin: 0rem 0;
    padding-bottom: 5px;
    Border-top: 1px solid #FFB037;
}

.copyRight {
    margin: 1rem;
    padding: 1rem;
    font-size: 1rem;
    color: #FFB037;
    display: block;
}

.filler {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    height: 80vh;
    font-family: 'Ubuntu';
    letter-spacing: 2px;
}

.aboutTitle {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    border: 5px solid #8c5c12;
    background-color: #FFB037;
}

.aboutMe {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.me img {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 50vh;
    padding:0px;
    border: 5px solid #8c5c12;
}
.socials {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width:100vw;
    border: 5px solid #8c5c12;
    background-color: #FFB037;
    margin-bottom: 1px;
}
.socials img {
    border-radius: 50%;
    padding: 10px;
}

.rightSide {
    display: flex;
    flex-basis: 100%;
    background-color: #FFB037;
    border: 5px solid #8c5c12;
    height: 50vh;
}

.aboutText {
    padding: 5px;
    text-indent: 5rem;
}

@media (min-width: 800px) {
    .hero {
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 90vh;
    }
    
    .heroText {
        font-size: 1rem;
    }
    
    .heroName {
        font-size: 3.5rem;
    }
    
    .button {
        font-size: 1.1rem;
    }
    
    .projectsGallery {
        display: flex;
        flex-direction: column;
        justify-content: center;
        flex-wrap: wrap;
    }
    
    .projectCard {
        max-width: 300%
    }
    
    .aboutMe {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }
    
    .me img {
        max-height: 50%;
    }
    
    .socials {
        width: 100%;
    }
    
    .aboutText {
        font-size: 1.5rem;
    }

}

@media (min-width: 1500px) {
    .aboutText {
        font-size: 3rem;
    }
}

@media only screen and (max-height: 600px) {
    .hero {
        padding-top: 7rem;
    }
}

@media only screen and (max-height: 300px) {
    .hero {
        padding-top: 14rem;
    }
}

.Baller {
 opacity: 0.05;   
}